$bg-main: #222;
$bg-dark: #111;
$bg-light: #555;
$bg-second: #333;
$bg-b: #141c26;
$bg-b-2: #0a141b;

$border: #777;
$border-light: #BEBEBE;
$border-light-2: #7D7D7D;
$border-dark: #444;
$border-green: #D2FFD2;
$border-red: #FFD2D2;

$color: #06ba8f;
$color-dark: #147f6e;
$color-extra-dark: #0D4F45;
$color-light: #06E6AE;
$color-light-2: #0FF9BE;
$color-second: #047F62;
$color-alt: #1B96CC;
$color-alt-second: #3463B1;
$text: #ECEFF3;
$text-2: #999;
$text-3: #777;
$text-4: #555;
$color-red: #D14545;
$facebook: #3B5998;

$nav-color: $color;
$color-effect: #05E0AA;